/* Example Template for Tabs component */

/* Slots. One selector for each component. Use naming template data-slot=["genericComponentName-specificComponentName"] */

[data-slot="tabs-root"] {
  /* Nest corresponding data attribute selectors within. Create a unique rule for each possible value.
 */

  display: flex;
  flex-direction: column;

  &[data-orientation="horizontal"] {
    flex-direction: row;
  }

  &[data-orientation="vertical"] {
  }
}

[data-slot="tabs-list"] {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--lk-outlinevariant);

  &[data-orientation="horizontal"] {
    flex-direction: column;
  }

  &[data-orientation="vertical"] {
  }
}

[data-slot="tabs-trigger"] {
  all: unset;
  font-family: inherit;
  background-color: white;
  padding: var(--lk-size-md);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  color: var(--mauve-11);
  user-select: none;
  overflow: hidden;
  position: relative;

  &:hover {
  }

  &:focus-visible {
  }

  &[data-orientation="horizontal"] {
    &[data-state="active"] {
      color: var(--lk-primary);
      box-shadow:
        inset 2px 0 0 0 currentColor;
    }
  }

  &[data-orientation="vertical"] {
  }

  &[data-state="active"] {
    color: var(--lk-primary);
    box-shadow:
      inset 0 -1px 0 0 currentColor,
      0 1px 0 0 currentColor;
    
  }

  &[data-state="inactive"] {
  }

  &[data-disabled] {
  }
}

[data-slot="tabs-content"] {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;

  &[data-state="active"] {
  }

  &[data-state="inactive"] {
  }

  &[data-orientation="horizontal"] {
  }

  &[data-orientation="vertical"] {
  }
}
