/* alert-dialog.css */

[data-slot="alert-dialog-root"] {
}

[data-slot="alert-dialog-trigger"] {
  &[data-state="open"] {
  }

  &[data-state="closed"] {
  }
}

[data-slot="alert-dialog-portal"] {
}

[data-slot="alert-dialog-overlay"] {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgb(0 0 0 / 0.5);

  &[data-state="open"] {
    animation: lk-fade-in 150ms ease-out;
  }

  &[data-state="closed"] {
    animation: lk-fade-out 150ms ease-in;
  }
}

@keyframes lk-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lk-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

[data-slot="alert-dialog-content"] {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  display: grid;
  width: 100%;
  max-width: calc(100% - 2rem);
  transform: translate(-50%, -50%);
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--lk-outline-variant);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  &[data-state="open"] {
    animation: lk-fade-in 200ms ease-out, lk-zoom-in 200ms ease-out;
  }

  &[data-state="closed"] {
    animation: lk-fade-out 200ms ease-in, lk-zoom-out 200ms ease-in;
  }

  @media (min-width: 640px) {
    max-width: 32rem;
  }
}

@keyframes lk-zoom-in {
  from {
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes lk-zoom-out {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0.95);
  }
}

[data-slot="alert-dialog-cancel"] {
}

[data-slot="alert-dialog-header"] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;

  @media (min-width: 640px) {
    text-align: left;
  }
}

[data-slot="alert-dialog-footer"] {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: end;
  }

}

[data-slot="alert-dialog-action"] {
}

[data-slot="alert-dialog-title"] {
}

[data-slot="alert-dialog-description"] {
}
