/* collapsible.css */

[data-slot="collapsible"] {
  /* flex w-[350px] flex-col gap-2 - converted from Tailwind in demo */
  display: flex;
  width: 350px;
  flex-direction: column;
  gap: var(--lk-size-md);

  &[data-state="open"] {
  }

  &[data-state="closed"] {
  }

  &[data-disabled] {
  }
}

[data-slot="collapsible-trigger"] {
  /*Remove user agent button styling*/

  padding: none;
  border: none;
  background-color: transparent;
  color: inherit;

  svg {
    display: block;
  }

  &[data-state="open"] {
    background-color: var(--lk-inversesurface);
    color: var(--lk-inverseonsurface);
  }

  &[data-state="closed"] {
  }

  &[data-disabled] {
  }
}

[data-slot="collapsible-content"] {
  &[data-state="open"] {
  }

  &[data-state="closed"] {
  }

  &[data-disabled] {
  }
}
