/* password-toggle-field.css */

[data-slot="password-toggle-field-root"] {
}

[data-slot="password-toggle-field-wrapper"] {
  position: relative;
  display: inline-block;
  border-radius: var(--lk-size-sm);
  overflow: hidden;
}

[data-slot="password-toggle-field-input"] {
  appearance: none;
  background: var(--lk-surface);
  border: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border-radius: var(--lk-size-sm);
  box-shadow: var(--shadow-sm);
  padding: var(--lk-size-2xs) var(--lk-size-sm);
  outline: 3px solid transparent;
  outline-offset: -3px;
  width: 100%;
  background-color: transparent;
  transition:
    outline 0.2s ease-out,
    outline-offset 0.2s ease-out,
    box-shadow 0.2s ease-out,
    background-color 0.2s ease-out;

  flex: 0 1 auto;

  &:hover {
    background-color: var(--lk-surfacecontainer);
    opacity: 0.8;
  }

  &:focus {
    outline: 3px solid var(--lk-primary);
    outline-offset: 0px;
    box-shadow: var(--shadow-md);
  }
}

[data-slot="password-toggle-field-toggle"] {
  background: transparent;
  position: absolute;
  right: var(--lk-size-3xs);
  top: 50%;

  border: none;
  border-radius: var(--lk-size-2xs);
  overflow: hidden;
  padding: var(--lk-size-3xs);
  transform: translateY(-50%);
  outline: 3px solid transparent;
  outline-offset: -3px;
  transition:
    outline 0.2s ease-out,
    outline-offset 0.2s ease-out,
    background-color 0.2s ease-out;

  &:focus-visible {
    background-color: var(--lk-primarycontainer);
    color: var(--lk-primary);
    outline: 2px solid var(--lk-primary);
    outline-offset: 0px;

  }
}

[data-slot="password-toggle-field-slot"] {
}

[data-slot="password-toggle-field-icon"] {
}
