/* one-time-password-field.css */

[data-slot="one-time-password-field-root"] {
  &[data-orientation="vertical"] {
  }

  &[data-orientation="horizontal"] {
    display: flex;
    gap: var(--lk-size-xs);
    width: auto;
  }
}

[data-slot="one-time-password-field-input"] {
  appearance: none;
  background: var(--lk-surface);
  border: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border-radius: var(--lk-size-sm);
  box-shadow: var(--shadow-sm);
  width: var(--lk-size-xl);
  height: var(--lk-size-xl);
  text-align: center;
  font-size: var(--heading-font-size);
  outline: 3px solid transparent;
  outline-offset: -3px;
  background-color: transparent;
  transition:
    outline 0.2s ease-out,
    outline-offset 0.2s ease-out,
    box-shadow 0.2s ease-out,
    background-color 0.2s ease-out;

  flex: 0 1 auto;

  &:hover {
    background-color: var(--lk-surfacecontainer);
    opacity: 0.8;
  }

  &:focus {
    outline: 3px solid var(--lk-primary);
    outline-offset: 0px;
    box-shadow: var(--shadow-md);
    background-color: var(--lk-tertiarycontainer);
  }

  &[data-index] {
  }
}

[data-slot="one-time-password-field-hidden-input"] {
}

[data-lk-component="text-input"] {
  display: flex;
  flex-flow: column nowrap;

  [data-lk-component="state-layer"] {
    border-radius: var(--lk-size-sm);
    font-size: inherit;
  }
}

[data-lk-text-input-label-position="on-input"] {
  label {
    position: absolute;
    top: 50%;
    left: var(--lk-size-sm);
    transform: translateY(-50%);
    opacity: 50%;
    pointer-events: none;
    transition:
      top 0.2s ease-out,
      font-size 0.2s ease-out,
      color 0.2s ease-out,
      letter-spacing 0.2s ease-out,
      opacity 0.2s ease-out,
      padding 0.2s ease-out,
      transform 0.2s ease-out;
  }

  label.on-field-with-value-set {
    opacity: 100%;
    top: 0;
    font-size: var(--label-font-size);
    letter-spacing: -0.004em;
    padding: 0 var(--lk-size-xs);
    transform: translate(calc(-1 * var(--lk-size-2xs)), -61.8%);
  }
}

[data-lk-component="text-input"]:focus-within {
  [data-lk-component="state-layer"] {
    display: none;
  }
}
