[lk-component="material-layer"] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Material Types */

[lk-material-type="debug"] {
  background-color: red;
}

[lk-material-type="glass"] {
  backdrop-filter: blur(4px);
}

/* Dark Mode behavior */

@media (prefers-color-scheme: dark) {
  [lk-material-type="glass"] {
    backdrop-filter: blur(4px);
  }
}
