[lk-component="text-input"] {
  display: flex;
  flex-flow: column nowrap;
}

[lk-component="text-input"] input {
  appearance: none;
  background: white;
  border: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  width: 100%;
  padding: var(--lk-size-xs) var(--lk-size-sm);
}

[lk-text-input-el="input-wrap"] {
  border: 1px solid var(--lk-outlinevariant);
  margin-top: calc(var(--bodyBoxHeight) * var(--lk-halfstep-dec));
  position: relative;
  overflow: hidden;
  border-radius: var(--lk-size-sm);
  outline: 3px solid transparent;
  outline-offset: -3px;
  transition:
    outline 0.2s ease-out,
    outline-offset 0.2s ease-out;

  &:hover {

  }

  &:has(input:focus-visible) {
    outline: 3px solid var(--lk-primary);
    outline-offset: 0px;
  }

  &:placeholder-shown {
    color: var(--lk-outline);
  }

  [lk-component="icon"] {
    position: absolute;
    top: 50%;
    right: var(--lk-size-sm);
    transform: translateY(-50%);
  }
}

[lk-component="text-input"]:focus-within {
  [lk-component="state-layer"] {
    display: none;
  }
}
